@charset "utf-8";

@font-face {
    font-family: 'futuraLight';
    src: url('../fonts/FuturaLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FuturaLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/FuturaLight.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Futura-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/FuturaLight.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'futuraBook';
    src: url('../fonts/Futura-T-OT-Book_19064.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Futura-T-OT-Book_19064.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Futura-T-OT-Book_19064.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/FuturaTOT-Book.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Futura-T-OT-Book_19064.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'centuryGothic';
    src: url('../fonts/CenturyGothic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/CenturyGothic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/CenturyGothic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/CenturyGothic.ttf')  format('truetype'); /* Safari, Android, iOS */
}


/* -- Global -- */
html {height:100%;}
body {height:100%;}

figure {width:100%; margin:0;}
figure img {max-width:100%;}

p {font-family: 'centuryGothic', Arial, sans-serif;}
h1, h2, h3, h4 {font-family: 'futuraBook', Arial, sans-serif;}

.wr-container--outer {width:100%;}
.wr-container--inner {width:1240px;}
.wr-max-height {height:100%;}

    /* --- Navigation --- */

#navbar {height:100%;}
#navbar .nav-table {width:100%; table-layout: fixed; display: table; height:100%;}
#navbar .nav-table .nav-cell {display:table-cell; vertical-align: middle; text-align: center;}

/* --- Col styles --- */
.col-container {width:102%; margin-left:-2%; height: auto; overflow: hidden; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap:wrap; -ms-flex-wrap: wrap; flex-wrap:wrap;}
.col-block {position: relative; margin-left:2%;}
.col .col-block {width:100%; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col2 .col-block {width:48%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col3 .col-block {width:31.33%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col4 .col-block {width:23%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col5 .col-block {width:18%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col6 .col-block {width:14.666%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col73 .col-block--left {width:68%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col73 .col-block--right {width:28%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col37 .col-block--left {width:28%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col37 .col-block--right {width:68%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col64 .col-block--left {width:58%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col64 .col-block--right {width:38%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col46 .col-block--left {width:38%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col46 .col-block--right {width:58%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


/*Media QUeries*/

@media only screen and (min-width: 0px) and (max-width: 1240px){
    .navbar .container {width:80%; margin-left:20%;}
    .navbar-nav > li > a {font-size:20px;}
}

@media only screen and (min-width: 0px) and (max-width: 991px){
    .navbar .container {width:85%; margin-left:15%;}
    .navbar-nav > li > a {font-size:16px;}

}

@media only screen and (min-width: 0px) and (max-width: 767px){



}

@media only screen and (min-width: 0px) and (max-width: 500px) {

}
