@charset "utf-8";

@font-face {
    font-family: 'futuraLight';
    src: url('../fonts/FuturaLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FuturaLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/FuturaLight.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Futura-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/FuturaLight.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'futuraBook';
    src: url('../fonts/Futura-T-OT-Book_19064.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Futura-T-OT-Book_19064.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Futura-T-OT-Book_19064.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/FuturaTOT-Book.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Futura-T-OT-Book_19064.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'centuryGothic';
    src: url('../fonts/CenturyGothic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/CenturyGothic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/CenturyGothic.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/CenturyGothic.ttf')  format('truetype'); /* Safari, Android, iOS */
}


/* -- Global -- */
html {height:100%;}
body {height:100%;}

figure {width:100%; margin:0;}
figure img {max-width:100%;}

p {font-family: 'centuryGothic', Arial, sans-serif; font-size:16px; margin:20px 0 0 0;}
h1, h2, h3, h4 {font-family: 'futuraBook', Arial, sans-serif; text-transform: uppercase;}
h2 {margin:0; font-size:78px;}

.wr-container--outer {width:100%;}
.wr-container--inner {width:1240px; margin:0 auto; position:relative; height:100%;}
.wr-max-height {height:100%;}
.wr-max-height--full {height:100%;}
.wr-centre-content {position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:100%}

/* --- Navigation --- */

#navbar {height:100%;}
#navbar .nav-table {width:100%; table-layout: fixed; display: table; height:100%;}
#navbar .nav-table .nav-cell {display:table-cell; vertical-align: middle; text-align: center; padding-top:40px;}
.navbar h1 {margin:0; padding:0;}

/* --- Col styles --- */
.col-container {width:102%; margin-left:-2%; height: auto; overflow: hidden; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap:wrap; -ms-flex-wrap: wrap; flex-wrap:wrap;}
.col-block {position: relative; margin-left:2%;}
.col .col-block {width:100%; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col2 .col-block {width:48%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col3 .col-block {width:31.33%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col4 .col-block {width:23%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col5 .col-block {width:18%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col6 .col-block {width:14.666%; padding:0; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col73 .col-block--left {width:68%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col73 .col-block--right {width:28%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col37 .col-block--left {width:28%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col37 .col-block--right {width:68%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col64 .col-block--left {width:58%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col64 .col-block--right {width:38%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col46 .col-block--left {width:38%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.col46 .col-block--right {width:58%; margin-left:2%; float:left; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


/* --- Footer ---*/

.wr-footer {padding:45px 0 45px 0; background:#5b4e5b;}
.wr-footer h4 {font-size:24px; padding:0; margin:0; color:#fff;}
.wr-footer p {color:#fff;}
.wr-footer .col-block {border-right:1px solid #fff;}
.wr-footer .col-block:first-child {padding-right:2%;}
.wr-footer .col-block:last-child { border-right:none;}
.wr-footer a {color:#18bbbb;}
.wr-footer .wr-footer-bottom {margin-top:100px;}
.wr-footer .wr-footer-bottom .col-block {border:none;}
.wr-footer .wr-footer-bottom .col-block span {text-transform: uppercase;}
.wr-footer .wr-footer-bottom .col-block:last-child {text-align: right;}
.wr-footer .wr-footer-bottom p {margin-top:0;}
.wr-footer .wr-footer-bottom figure {width:auto !important; float:left !important;}
.wr-footer .wr-footer-bottom .wr-copyright {clear: both;}
.wr-footer .wr-footer-bottom .col-block:first-child h4 {color:#18bbbb; padding-top:33px;}
.wr-footer .wr-footer-bottom a {color:#fff;}


/*Media QUeries*/

@media only screen and (min-width: 0px) and (max-width: 1240px) {
    .wr-container--inner {width:96%; padding:0 2% 0 2%; }
}


@media only screen and (min-width: 0px) and (max-width: 1170px){
    .navbar .container {width:80% !important; margin-left:20% !important;}
    .wr-container--inner {width:96%; padding:0 2% 0 2%; }
}

@media only screen and (min-width: 0px) and (max-width: 991px){

}

@media only screen and (min-width: 0px) and (max-width: 767px){

    .col-container {width:100%; margin:0;}
    .col-container .col-block {width:100%; margin:0 0 20px 0;}
    .wr-footer .wr-footer-bottom .col-block:last-child {text-align: left; margin-bottom:0;}
    .wr-footer .wr-footer-bottom {margin-top:20px;}
    .wr-footer .col-block {border:none;}


}

@media only screen and (min-width: 0px) and (max-width: 500px) {

}
