@charset "utf-8";

.wr-main-content {padding:40px 0 40px 0;}
#map {height:750px; padding:0; margin:0;}
.wr-main-content h2 {text-align: right; color: rgb(70, 147, 155); text-transform: uppercase; font-size:30px;}
.photo-block {margin-top:20px;}
.photo-top {position: absolute; top:-1%; left:6%; width:94%; z-index:2; height:96%;}
.photo-info-outer {display:table; background: rgba(70, 147, 155,0.8); table-layout: fixed; position: absolute; z-index: 3; width:100%; height:100%;}
.photo-info-inner {text-align: center; vertical-align: middle; display:table-cell;}
.photo-info-inner h3 {color:#fff; padding:0; margin:0; font-size:14px;}
.photo-info-inner p {margin:0; padding:0; color:#fff; font-size:12px;}
.show-photo-info {display:table;}
.hide-photo-info {display:none;}
.header-block-map {height:130px; background:rgba(91,78,91,0.6); position: absolute; top:0; left:0; z-index:3;}
.map-block-content {height:130px; background:rgba(91,78,91,0.9); position: absolute; top:130px; left:0; z-index:3;}
.map-block-content p {color:#fff; margin:10px 0 0 0; font-size:13px;}
.map-block-content p a {text-decoration: none; color:#fff;}
.map-block-content .col-block {text-align: center; padding-top:25px;}
.wr-map-container {width:100%; height:750px; position: relative;}
.wr-map-container h2 {text-align: right; color:#fff; text-transform: uppercase; font-size:30px; padding-top:85px;}

.header-block-normal {height:130px; background:rgba(227,227,227,1); position:}
.header-block-normal h2 {text-align: right; color:#5b4e5b; text-transform: uppercase; font-size:30px; padding-top:85px;}
.wr-mixed-image {height:485px; background: url('../img/mixed-image.jpg'); -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*Media QUeries*/

@media only screen and (min-width: 0px) and (max-width: 1240px) {

}


@media only screen and (min-width: 0px) and (max-width: 1170px){

}

@media only screen and (min-width: 0px) and (max-width: 991px){


}

@media only screen and (min-width: 0px) and (max-width: 767px){
    .worth-team .col-container.col5 {width:102%; margin-left:-2%;}
    .worth-team .col5 .col-block {width:31.33%; margin-left:2%;}
    .map-block-content .col-container.col3 {width:102%; margin-left:-2%;}
    .map-block-content .col3 .col-block {width:31.33%; margin-left:2%; padding-top:10px;}

}

@media only screen and (min-width: 0px) and (max-width: 500px) {
    .worth-team .col-container.col5 {width:102%; margin-left:-2%;}
    .worth-team .col5 .col-block {width:48%; margin-left:2%;}
    .map-block-content {height:140px;}
    .map-block-content .col3 .col-block {padding-top:15px;}

}
